@import 'tailwindcss';

@theme {
  --font-display: 'VT323', 'JetBrains Mono', monospace;
  --font-fira: 'Fira Code', monospace;
  --font-display2: poppins;

  --color-base: #0f172b;
  --color-base-green: #00dc82;
  --background-color-bubble: rgba(255, 255, 255, 0.01);

  --animate-blink: blink 1s infinite;
  --animate-fadeout: fadeout 0.3s linear;
  --animate-grow: grow 0.4s ease-in-out;
  --animate-shrink: shrink 0.4s ease-out;
  --animate-from-left: from_left 10s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  --animate-on-leave: onLeave 0.4s ease-out;

  --shadow-inner-white: inset -5px -5px 1px rgba(255, 255, 255, 0.3);

  @keyframes blink {
    0%,
    49% {
      background: rgba(255, 255, 255, 1);
    }
    50,
    60% {
      background: rgba(255, 255, 255, 0.5);
    }
    61%,
    100% {
      background: transparent;
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 0.5;
    }
  }
  @keyframes grow {
    0% {
      transform: scale(0.3);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html.has-scroll-smooth {
    overflow: hidden;
  }
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .has-scroll-smooth body {
    overflow: hidden;
  }
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }
  [data-scroll-direction='horizontal'] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }
  [data-scroll-direction='horizontal'] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition:
      transform 0.3s,
      opacity 0.3s;
    opacity: 0;
  }
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  .c-scrollbar:hover,
  .has-scroll-scrolling .c-scrollbar,
  .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }
  html[data-scroll-orientation='horizontal'] {
    body {
      width: fit-content;
    }
    [data-scroll-container] {
      display: flex;
    }
  }

  [data-scroll-direction='horizontal'] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
  }
  [data-scroll-direction='horizontal'] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  [data-scroll-direction='horizontal'] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }
}

@layer components {
  .btn-glass {
    @apply flex items-center gap-x-3
      px-5 py-3
      rounded-full
      border border-white/10
      bg-white/10
      shadow-xl
      cursor-pointer
      transition-transform
      hover:scale-105;
  }
}
